*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-decoration: none;

}
form,
form input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*-------------CONTENEDOR PRINCIPAL-----------------*/

.container{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 55% 45%;
    grid-template-rows: 200px 200px auto;

    grid-template-areas:  
    "titulo titulo"
    "agregar mostrar"
    "nada mostrar";
}
/*---------------------------------------*/


/*-------------TITULO--------------------*/

 .titulo{
    grid-area: titulo;
    justify-self: center;
    padding: 20px;
    font-family: 'Helvetica';
}
/*---------------------------------------*/




/*---------DONDE SE AGREGAN LAS TAREAS-------------------*/
.agregarNotas{
    grid-area: agregar;
    padding: 30px;  
    padding-top: 5px;
    
}

.agregarNotas form{
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.agregarNotas #caja{
    height: 50px;
    padding: 5px;
    font-size: 18px;
    border: 1.8px solid #343D5B;

}
.agregarNotas .btnAgregar{
    margin-top: 10px;
    background-color: #343D5B;
    color:white;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*---------------------------------------*/



/*--------DONDE SE MOSTRARAN LAS TAREAS------------------*/

.mostrarNotas{
    grid-area: mostrar;
    padding-left: 50px;
    padding-right: 30px;

}
.mostrarNotas h2{
    text-align: center;
    margin-bottom: 10px;
}
/*---------------------------------------*/



/*---------------TAREAS QUE SE AGREGAN -----------*/

.tareas{
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    padding: 5px;

    height: auto;
    word-wrap: break-word;

}
.tareas:first-child{
    margin-top: 20px;
}
.btnEliminar{
    color: red;
    float: right;
    cursor: pointer;
}
/*---------------------------------------*/





/*-----------------SWITCH----------------*/
.switch{
    background-color: #343D5B;
    border-radius: 1000px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    margin: 0px auto;
    outline: none;
    margin-top: 20px;

}

.switch::after{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transform: .3s ease all ;
    -webkit-transform: .3s ease all ;
    -moz-transform: .3s ease all ;
    -ms-transform: .3s ease all ;
    -o-transform: .3s ease all ;
}
.switch.active{
    background-color: orange;
    color: #000;
}
.switch.active.switch::after{
    left: unset;
    right: 0;
}

.switch span{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
    display: block;
    background: none;
    color: white;
}
/*---------------------------------------*/


/*--------------MODO DARK--------------------*/

body{
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

body.dark{
    color:white;
    background-color:#222424;
}

body.dark.btnEliminar{
    color: #b90b0b
}
body.dark #caja{
    background-color:#3d3f3f;
    border: none;
    color: white;

}
body.dark .agregarNotas .btnAgregar{
    background-color: #47537c;
  
}

body.dark #caja{
    box-shadow: 1px 1px 10px #47537c inset;
}
/*---------------------------------------*/


/*-------------RESPONSIVE-----------------*/
@media (max-width: 500px){
    .container{
      grid-template-areas:  
        "titulo titulo"
        "agregar agregar"
        "mostrar mostrar";  
        grid-template-rows: 150px 160px 200px;

    }
    .mostrarNotas{
        grid-area: mostrar;
    
    }
    .agregarNotas .btnAgregar{
        height: 30px;
        font-size: 14px;
        font-weight: normal;

    }

    .tareas{
        font-size: 17px;
    }
    
}
/*---------------------------------------*/
